[user]
	name = Ryan Dowling
	email = rdowling@areteinc.com
[core]
	autocrlf = true # false #true
	eol = native
[diff]
[difftool]
  prompt = false
[color]
  ui = auto
[alias]
  r = status
  l = log --decorate=short --abbrev-commit --format=oneline
  o = checkout 
  g = commit --message
  b = branch
  a = add --all
#[merge]
#  tool = vimdiff
[difftool "sourcetree"]
	cmd = 'sgdm' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'sgdm' -merge -result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
